
<h1>&#128665; <%= @vehicle.brand %> <%= @vehicle.model %> <%= @vehicle.year %> &#128665;</h1>

<% if @errors %>
    <p style="color: crimson;"><%= @errors %></p>
<% end %>



<ul>
    <form action="/vehicles/<%= @vehicle.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="patch"/>
    <li>
        <label for="brand">Make: </label><br>
        <input type="text" id="brand" name="brand" value="<%= @vehicle.brand %>"><br>
    </li>
    <li>
        <label for="model">Model: </label><br>
         <input type="text" name="model" id="model" value="<%= @vehicle.model %>"><br>
    </li>
    <li>
        <label for="year">Year: </label><br>
        <input type="integer" id="year" name="year" value="<%= @vehicle.year %>"><br>
    </li>
    <li>
        <label for="style">Type(Body Style): </label><br>
        <input type="text" id="style" name="style" value="<%= @vehicle.style %>"><br>
    </li>
    <li>
        <label for="color">Color: </label><br>
        <input type="text" id="color" name="color" value="<%= @vehicle.color %>"><br>
    </li>
    <li>
        <label for="price">Price: </label><br>
        <input type="number" id="price" name="price" min="0" step="0.01" value="<%= @vehicle.price %>"><br>
    </li>
    <li>
        <label for="vin_number">VIN #: </label><br>
        <input type="text" id="vin_number" name="vin_number" pattern="[A-Za-z0-9]+" maxlength="17" value="<%= @vehicle.vin_number %>"><br>
    </li>
</ul>
<button class="button2 button2"> ☑️ Save </button>
   <br>
   <br>
</form>




