
<h1> Hello, <%= current_user.username %> !! </h1>

  <a href="/vehicles/new" class="button1"> Add a new vehicle </a>
<ol>
  <h3>You can ADD, EDIT or DELETE your vehicles. </h3>
  <h3>You have total <%= current_user.vehicles.size %> cars!</h3>

    <% @vehicles.order(id: :ASC, brand: :asc, model: :asc, year: :desc).each do |vehicle|%>
    <li><b><a href="/vehicles/<%= vehicle.id %>"><%= vehicle.brand %> <%= vehicle.model %> <%= vehicle.year %></a></b></li>
    <% end %>
</ol>


